*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 2, 36);
}

h1{
    color: wheat;
    text-align: center;
    font-style: italic;
    margin-top: 3rem;
}

.image-container{
    height: 300px;
    width: 500px;
    background-color: wheat;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 1rem;
    padding-top: 2rem;
}

.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.image-container button{
    margin-top: 20px;
    background-color: rgb(1, 1, 34);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
}